*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    width: 100%;
    height: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 25px;
}
.player {
    background: silver;
    width: 350px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border-radius: 15px;
    border: 2vh solid silver;
    overflow: hidden;
    box-shadow: 7px 5px 5px  black;;
}
.time {
    text-align: center;
}
.icons a {
    color: rgb(197, 177, 177);
    font-size: 22px;
}
.img {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img img {
    height: 30vh;
}
.title {
    text-align: center;
}

.seek {
    width:100%;
    height: 15px;
    background: rgb(71, 66, 66);
    border-radius: 50px;
}
.seek .fill {
    width: 0;
    height: 15px;
    background: white;
    border-radius: 50px;
}
.cycle {
    background: rgb(51, 44, 44);
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: 30px auto;
}
.secondcycle {
    background: silver;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 25%;
    margin: 30px auto;
    position: relative;
    padding: 20px;
}
.fa-play{
    font-size: 8vh;
    padding-left: 2vh;
    color: rgb(51, 44, 44);
}
.play-button {
    margin: 10px;
    padding: 10px auto;
    display: flex;
    justify-content: center;
}
.play-button a {
    margin-inline: 15px;
    color: silver;
}

.fa-backward {
    font-size: 6vh;
}

.fa-forward {
    font-size: 6vh;
}
.decrease {
    display: inline-block;
    position: fixed;
    left: 46%;
    font-size: 20px;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-right: 25px;
    background: silver;
    border-radius: 50%;
}
.increase {
  transform: translateY(-200%);
  bottom: 105%;
  font-size: 30px;
  position: relative;
  background: silver;
  border-radius: 50%;
  margin-left: 13px;
  width: 35px;
    height: 35px;
}

.increase:hover,
.decrease:hover {
    cursor: pointer;
    background: rgb(134, 119, 119);
}
.fa-forward:hover,
.fa-backward:hover {
    color:rgb(134, 119, 119);
}
.fa-play:hover {
    transform: scale(1.2);
    color: rgb(90, 82, 82);
}
.fa-heart {
    color: rgb(163, 47, 47);
    margin:10px;
}
.fa-bars {
    margin: 10px;
    color: black;
}